extends layout
block content
    header.card-header
        h4.card-title Your Member's Dashboard
        b Hello, #{currentUser.firstname}  
    |&nbsp
    div.form-row
        div.col.form-group.col-md-9    
            form.search(action='/memberregistration/search')
                div.form-row
                    div.col-md-8
                        input.form-control(name='city' placeholder="Enter your search term ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
        div.col.form-group.col-md-3    
            form(method="post" action='/memberlogout')
                button.btn.btn-dark.btn-block(type="submit") Log out
    table.table
        thead.thead-dark
            tr
                th Your Savings
                th Your Saving Score
                th Your Credit Score
                th 
        tbody
            each user in users
                tr
                    td #{user.firstname}
                    td #{user.lastname}
                    td #{user.city}
                    td
                        form(method="post" action='/memberregistration/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete